.card {  
  max-width: 180px;    
  border-radius: 20px;    
}

.card:hover {
  transition: ease-in-out 300ms;
  transform: scale(1.017);
}

.card img {
  border-radius: 20px;  
}

.card__title {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  padding: 20px 15px 10px 15px;
}
