.contentCard {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  color: var(--text-color);
  padding-top: 80px;    
  max-width: 1500px;
  height: 100%;
  border-radius: 30px;
  justify-items: center;
  gap: 40px;
  margin-top: 40px;
  border-radius: 50px;
  border-radius: 30px;
  margin-bottom: 200px;
  
}

.contentCard__img{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;  
  margin-top: -220px; 
  margin-bottom: -300px;
}

.contentCard__img img{ 
  filter: opacity(0.5);
  filter: brightness(0.3);
  max-width: 100%;
  border-radius: 30px;
  height: 800px;
  object-fit: cover;
  object-position: bottom;
}

.contentCard__heroTitle{
  position: absolute;
  font-size: 40px;
  z-index: 2;
}

.contentCard__trend {
    max-width: 1500px;
    width: 100%;    
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  -ms-overflow-style: none;
    scrollbar-width: none;
  gap: 30px;
  cursor: pointer;
}

.contentCard__trend::-webkit-scrollbar {  
  height: 0.3em;
  background-color: var(--text-color); /* Assuming text color is light on dark, dark on light */
  opacity: 0.1; /* Making it a faint track */
  border-radius: 20px;
}

.contentCard__trend::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
}


.contentCard__trend img{
 
scroll-snap-align:start;

}

.contentCard__movies {
  max-width: 1500px;
  display: flex;  
  gap: 30px;  
  cursor: pointer;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contentCard__mainTitle{
  margin-top: 90px;
  color: var(--primary-color);
  padding-left: 15px;
  font-size: 24px;
  display: flex;
  justify-self: flex-start;
  margin-bottom: -20px; 
}

@media (max-width:630px){
  .contentCard__movies {    
    justify-content: center;
   
  }
}
