.navHeader{
    border-radius: 50px;
    border-radius: 30px;
    border-radius: 35px;
    border-radius: 35px;
    border-radius: 21px;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--primary-color);
   
    max-width: 1500px;
    height: 100px;
    margin: 0 auto;    
    border-radius: 30px;
    margin-top: 40px;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: large;
    z-index: 4;
    
}

.navHeader img:hover{
    cursor: pointer;
    transform: scale(1.1);    
}