@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

:root {
  --background-color: #121212;
  --text-color: #FFFFFF;
  --primary-color: #BB86FC;
  --secondary-color: #03DAC6;
  --accent-color: #CF6679;
}

body[data-theme="light"] {
  --background-color: #FFFFFF;
  --text-color: #000000;
  --primary-color: #6200EE;
  --secondary-color: #03DAC6;
  --accent-color: #B00020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
  
}

a{
  color: rgb(67, 67, 67);
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
}